/*
Theme Name: GGAP-Theme
Description: Special built theme for beaver-builder
Version: 1.0
Author: mmai
Author URI: http://www.mai-internet.de
Template: bb-theme
*/
@import "mi_mixins";

$color_ggap_orange:#E96927;
$color_ggap_grey:#3F3F3F;

.fl-logo-img {
  // max-width:120px;
}

.mi-spacer-largescreen {
  .uabb-spacer-gap-preview.uabb-spacer-gap {
    @include bp(bigscreen) {
      height:65vh; //
    }
  }
}

.mi-logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: bold;
  white-space:nowrap;
}


.body {
  background-color:#FFF;
}

.mi-narrow-heading {
  h3 {
    letter-spacing:0.5px !important;
    text-transform:uppercase !important;
    font-size:18px !important;
  }
  .uabb-infobox-left-right-wrap {
    max-width:480px;
  }
}

.mi-oeff {
  .col0 {
    padding-right:20px;
  }
}

.mi-outline-black {
  @include outline(#575757);
}

.mi-text-shadow-black {
  @include text-shadow(#000000);
}

.mi-text-shadow-white {
  @include text-shadow(#000000);
}

.mi-lowercase {
  text-transform:lowercase;
}

.mi-uppercase {
  text-transform:uppercase !important;
  h1,h2,h3,h4,h5,h6,p,li {
    text-transform:uppercase !important;
  }
}

.fl-module-content a, .fl-module-content a:hover, .fl-module-content a:focus {
  text-decoration: underline;
}

.fl-builder-content[data-type="header"].fl-theme-builder-header-shrink img {
  // max-height:none !important;
}
.wpcf7-mail-sent-ok {
  font-size:25px;
  color:#31A952;
  background-color:#FFF;
}

