/*
Theme Name: GGAP-Theme
Description: Special built theme for beaver-builder
Version: 1.0
Author: mmai
Author URI: http://www.mai-internet.de
Template: bb-theme
*/
/**
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
@media (min-width: 1400px) { .mi-spacer-largescreen .uabb-spacer-gap-preview.uabb-spacer-gap { height: 65vh; } }

.mi-logo { font-family: Arial, Helvetica, sans-serif; font-size: 21px; letter-spacing: 1px; font-weight: bold; white-space: nowrap; }

.body { background-color: #FFF; }

.mi-narrow-heading h3 { letter-spacing: 0.5px !important; text-transform: uppercase !important; font-size: 18px !important; }
.mi-narrow-heading .uabb-infobox-left-right-wrap { max-width: 480px; }

.mi-oeff .col0 { padding-right: 20px; }

.mi-outline-black { text-shadow: 1px 0 0 #575757, 0 -1px 0 #575757, 0 1px 0 #575757, -1px 0 0 #575757; }

.mi-text-shadow-black { text-shadow: 2px 2px 2px #000000; }

.mi-text-shadow-white { text-shadow: 2px 2px 2px #000000; }

.mi-lowercase { text-transform: lowercase; }

.mi-uppercase { text-transform: uppercase !important; }
.mi-uppercase h1, .mi-uppercase h2, .mi-uppercase h3, .mi-uppercase h4, .mi-uppercase h5, .mi-uppercase h6, .mi-uppercase p, .mi-uppercase li { text-transform: uppercase !important; }

.fl-module-content a, .fl-module-content a:hover, .fl-module-content a:focus { text-decoration: underline; }

.wpcf7-mail-sent-ok { font-size: 25px; color: #31A952; background-color: #FFF; }
